/*
-----------------------------------------------
	syntax-highlighting [prism]
-----------------------------------------------
*/

/*	colors --------------------------------- */
pre[class*='language-'] {
	--background: var(--back-light);
	--base:       #cfd2d1;
	--bracket:    #5FB3B3;
	--comment:    #898e99;
	--keyword:    #C594C5;
	--attribute:  #C594C5;
	--function:   #6699CC;
	--string:     #99C794;
	--number:     #F99157;
	--tags:       #EC5F67;
	--important:  var(--string);
}

/*	type-base ------------------------------ */
code[class*='language-'],
pre[class*='language-'] {
	background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	font: 300 var(--code-fs)/1.7 var(--font-mono);
	color: var(--base);
	tab-size: 2;
	-moz-tab-size: 2;
	-webkit-hyphens: none;
	hyphens: none;
}

/*	code-blocks ---------------------------- */
pre[class*='language-'] {
	overflow: auto;
	padding: 1.5rem 2rem;
	margin: .8rem 0 2.4rem;
	/* max-width: var(--code-w); */
	border-radius: var(--border-r);
	box-shadow: 1px 1px 1px rgba(68, 68, 68, .12) inset;
}

pre[class*='language-']::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

pre[class*='language-']::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0);
}

pre[class*='language-']:hover::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, .2);
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: var(--background);
}

/*	tokens --------------------------------- */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata       { color: var(--comment) }

.token.punctuation { color: var(--bracket) }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted      { color: var(--tags) }

.token.boolean,
.token.number       { color: var(--number) }

.token.attr-name    { color: var(--attribute) }

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.attr-value,
.token.inserted      { color: var(--string) }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable       { color: var(--base) }

.token.atrule,
.token.function,
.token.class-name     { color: var(--function) }

.token.keyword        { color: var(--keyword) }

.token.regex,
.token.important      { color: var(--important) }

.token.important,
.token.bold   { font-weight: bold }
.token.italic { font-style: italic }
.token.entity { cursor: help }
